*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --main-color: #de4848;
}
.container {
    height: 100vh;
    background-color: #f2f1ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-left: 0.4em;
    color: var(--main-color);
}
.color {
    margin-right: 0.4em;
}
.control-contianer {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.radio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio-container label  {
    color: var(--main-color);
    cursor: pointer;
    position: relative;
    padding: 0.4em;
}

.radio-container label::before {
    content: "";
    position: absolute;
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: white;
    border: solid 0.1em var(--main-color);
}

.radio-container input:checked + label::before {
    background-color: var(--main-color);
}

.container .enter-time {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 0.2em;
    margin-right: 0.5em;
}

.control-contianer .enter-time input{
    font-size: 0.5rem;
    outline: none;
    border: solid 2px var(--main-color);
    width: 100%;
    height: 3em;
    caret-color: var(--main-color);
    padding: 0.5em;
}



.btn-container {
    display: flex;
    gap: 0.8em;
    justify-content: center;
    margin-right: 0.8em;
}

.btn-container .btn,
.control-contianer .btn {
    background-color: var(--main-color);
    color: white;
    border-radius: 0.2em;
    padding: 0.4em 0.6em;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 2px 5px #00000038
}

label,
.btn-container div {
    font-size: 1rem;
    font-weight: normal;
}

input[type="radio"] {
    display: none;
}




.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
}

.timer-container .segment h2 {
    font-size: 0.5em;
    text-align: center;
}

.timer-container .segment .wraper {
    display: flex;
    gap: 0.2em;
}
.digit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px #00000038;
    border-radius: 0.1em;
    position: relative;
}

.digit-card .top,
.digit-card .top-flip {
    background-color: #f7f7f7;
    border-top-right-radius: 0.1em;
    border-top-left-radius: 0.1em;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    
}

.digit-card .bottom,
.digit-card .bottom-flip {
    background-color: white;
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: 0.1em;
    border-bottom-left-radius: 0.1em;
}

.digit-card .top,
.digit-card .bottom,
.digit-card .top-flip,
.digit-card .bottom-flip {
    height: 0.6em;
    padding: 0.1em 0.25em;
    line-height: 1;
    overflow: hidden;
    position: relative;
}

.digit-card .top-flip {
    position: absolute;
    top: 0;
    transform-origin: bottom;
    animation: top-flip 0.22s ease-in;
}

.digit-card .bottom-flip {
    position: absolute;
    bottom: 0;
    animation: bottom-flip 0.22s 0.22s ease-out;
    transform-origin: top;
    transform: rotateX(90deg);
}


@keyframes top-flip {
    to {
        transform: rotateX(90deg);
    }
}

@keyframes bottom-flip {
    100% {
        transform: rotateX(0);
    }
}

@media (max-width: 560px) {
    * {
        font-size: 1.5rem;
    }
}

@media (max-width: 390px) {
    * {
        font-size: 1.2rem;
    }
}
@media (max-width: 320px) {
    * {
        font-size: 1rem;
    }
}
